@{
    ViewData["Title"] = "Contact Us";
}

<div class="container contact">
    <h1>Contact Us</h1>
    <img class="img-thumbnail w-50" src="~/images/contact.jpg" alt="Real estate office">
    <h4 class="mt-5">Coldwell Banker Premier - Rehoboth Beach</h4>
    <p>20184 Coastal Hwy, Rehoboth Beach, DE 19971</p>
    <p>(302)-227-5000</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d248.7181413477036!2d-75.10239826353572!3d38.712296447709235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b8b6364a473a1d%3A0x3566ab97d8b49022!2sColdwell%20Banker%20Premier%20-%20Rehoboth%20Beach!5e0!3m2!1sru!2sus!4v1669822671206!5m2!1sru!2sus" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

